# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual environments
venv/
.venv/

#Jupyter checkpoints
.ipynb_checkpoints
.DS_Store
**/.DS_Store

#Large files
Data/ztf_crm/